* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "national park", Arial, Helvetica, sans-serif;
}

.container {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.282);
    padding: 2rem;
    border-radius: 10px;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(75, 238, 75);
    color: #fff;
    transition: all .3s ease;
}

.btn:hover {
    background-color: lightgreen;
}

.container table {
    border-collapse: collapse;
}

.container table thead {
    background-color: skyblue;
}

th {
    text-transform: capitalize;
}

th, td {
    padding: 1rem;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}